{% extends "dashboard/layout.html" %}

{% block dashboard_main %}
					<div class="display--block">
						<div class="l-dashboard-box l-service-box color-index-background">
							<div class="l-phpbb3-box display--block text--color-yello text--bold text--center">
								Save your login and password before leaving this page!
							</div>

							<div class="l-phpbb3-box display--block">
								<div class="l-phpbb3-login-box text--center text--bold">
									phpBB3 Username:
								</div>
								<div class="l-phpbb3-login-box text--color-yello text--center border-dotted">
									{{phpbb3_username}}
								</div>
							</div>

							<div class="l-phpbb3-box display--block">
								<div class="l-phpbb3-login-box text--center text--bold">
									phpBB3 Password:
								</div>
								<div class="l-phpbb3-login-box text--color-yello text--center border-dotted">
									{{phpbb3_password}}
								</div>
							</div>
						</div>
					</div>
{% endblock dashboard_main %}