/cronjobs/old/
/config/app.php
/config/ts3.php
/config/db.php
/config/discord.php
/config/logger.php
/install/db_init_old.sql
/public/assets/css/stuff/
/public/assets/js/
/views/stuff/
/templates/test/
/lib/esi_class.php
/lib/old/
/vendor/
/logs/*
!/logs/README.md
backup
composer.lock
test.php
test2.php
evecitadel