<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, nofollow"/>
		<meta name="robots" content="noarchive"/>
        <!-- <meta name="author" content=""> -->
        <meta name="description" content="{{portal_config['meta_description']}}">
		<meta name="Keywords" content="{{portal_config['meta_keywords']}}">

		<title>{{portal_config['title']}}</title>
		<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">

		<link rel="stylesheet" href="/assets/css/normalize.css">
		<link rel="stylesheet" href="/assets/css/common.css">
		<link rel="stylesheet" href="/assets/css/layout.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2&amp;subset=cyrillic">
		<link rel="stylesheet" href="/assets/themes/default/theme.css">
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->

    </head>

    <body>

		<div class="l--wrapper wrapper--adaptive">
			{% block main %} {% endblock %}
		</div>

		<footer class="l--footer color--background-2">
			<!-- "Citadel" auth system for EVE Online Alliances<br> -->
			<!-- <a href="https://github.com/hiveliberty/eve-citadel">Link to github</a> -->
			<a href="https://github.com/hiveliberty/eve-citadel">
				<picture>
					<img style="height:22px;width:auto;" src="/assets/img/github/logo_b.png" alt="EVE Citadel at GitHub">
				</picture>
			</a>
		</footer>

    </body>

</html>
