{% extends "index_layout.html" %}

{% block index_content %}
					<a href="{{portal_config['recruitment_url']}}" class="button index-button display--block">recruiting</a>
					<a href="{{portal_config['portal_url']}}/dashboard" class="button index-button display--block">auth</a>
					<a href="{{portal_config['forum_url']}}" class="button index-button display--block">forum</a>
					<a href="{{portal_config['killboard_url']}}" class="button index-button display--block">killboard</a>
{% endblock index_content %}