{% extends "layout.html" %}

{% block content %}
			<div class="l-index display-block">
				<div class="l-index-box-logo">
					<img src="/assets/img/logo.png" alt="Logo">
				</div>
				<div class="l-index-box-buttons">
					<p style="text-align:center">
						Click the button below to login with your EVE Online account.
					</p>
					<a href="{{sso_url}}">
						<img src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png"/>
					</a>
				</div>
			</div>
{% endblock content %}