html {
	background: url('../../themes/default/bg.jpg');
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media screen and (max-width: 1279px) {
	html {
		background-position: center;
	}
}

/* Default font style */
.font--style {
	color: rgb(215,215,155);
	font-family: 'Exo 2', sans-serif;
}

/* Some colors */
.text--yellow {
	color: rgb(255,246,73,1.0);
}
.color--background-1 {
	/**background: rgb(104,103,84,0.3);**/
	background: rgb(104,103,84,0.4);
}
.color--background-2 {
	/**background: rgb(104,103,84,0.3);**/
	background: rgb(104,103,84,0.24);
}

/* Dev stuff */
.border--dev-color-1 {
	border: 1px solid green;
}
.border--dev-color-2 {
	border: 1px solid red;
}
.border--dev-color-3 {
	border: 1px solid yellow;
}
