.button {
	text-align: center;
	outline: none;
	text-decoration: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.button--menu {
	width: 100%;
	height: 1.7em;
	margin: 4px auto 0px;
}

.button--service {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 10px;
}
