div.content-width {
	margin: auto;
	max-width: 100%;
	transition: .3s;
}
@media screen and (min-width: 476px) {
	div.content-width {
		margin: auto;
		max-width: 100%;
	}
}
@media screen and (min-width: 768px) {
	div.content-width {
		margin: 20px auto;
		/** max-width: 95%; **/
	}
}
@media screen and (min-width: 1280px) {
	div.content-width {
		margin: 40px auto;
		max-width: 90%;
	}
}
@media screen and (min-width: 1366px) {
	div.content-width {
		margin: 60px auto;
		max-width: 85%;
	}
}
@media screen and (min-width: 1600px) {
	div.content-width {
		margin: 80px auto;
		max-width: 60%;
	}
}

.l-grid-root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'main';
	align-content: center;
	border: 1px solid orange;
	transition: .6s;
}

.l-grid-dashboard {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px auto auto 50px;
	grid-row-gap: 2px;
	grid-column-gap: 2px;
	align-content: center;
	grid-template-areas: 'header' 'menu' 'main' 'footer';
	border: 1px solid #bf00ff;
	transition: .4s;
}
@media screen and (min-width: 476px) {
	.l-grid-dashboard {
		grid-template-columns: 160px auto;
		grid-template-rows: 40px auto 40px;
		grid-template-areas:
			'header header'
			'menu main'
			'footer footer';
		border: 1px solid #00ffff;
	}
}
@media screen and (min-width: 768px) {
	.l-grid-dashboard {
		grid-template-columns: 200px auto;
		grid-template-rows: 50px 1fr 50px;
		grid-template-areas:
			'header header'
			'menu main'
			'footer footer';
		border: 1px solid #00ff80;
	}
}

.l-grid-dashboard-services {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 2px;
	grid-column-gap: 2px;
	align-content: center;
	grid-template-areas: 'services' 'infopanel';
	border: 1px solid #bf0aff;
	transition: .4s;
}
@media screen and (min-width: 476px) {
	.l-grid-dashboard-services {
		grid-template-columns: 1fr 300px;
		grid-template-rows: 1fr;
		grid-template-areas: 'services infopanel';
		border: 1px solid #00ffff;
	}
}
@media screen and (min-width: 768px) {
	.l-grid-dashboard-services {
		grid-template-columns: 1fr 300px;
		grid-template-rows: 1fr;
		grid-template-areas: 'services infopanel';
		border: 1px solid #00ff80;
	}
}

.l-root-logo-box {
	display: subgrid;
	margin: auto;
	max-width: 256px;
	align-content: center;
	justify-content: center;
	border: 1px solid #ff00f0;
}

.l-dashboard-avatar-box {
	display: subgrid;
	margin: auto;
	max-width: 256px;
	align-content: center;
	justify-content: center;
	border: 1px solid #ff00f0;
}

.l-services-buttons-box {
	display: grid;
	margin: auto;
	max-width: 80%;
	border: 1px solid #ff00f0;
}

.l-root-buttons-box {
	display: subgrid;
	margin: 10px auto 0px;
	padding: 10px 0px 10px 0px;
	max-width: 256px;
	border: 1px solid #0ffff0;
	transition: .6s;
}
@media screen and (min-width: 476px) {
	.l-root-buttons-box {
		margin: 50px auto 0px;
	}
}
@media screen and (min-width: 768px) {
	.l-root-buttons-box {
		margin: 100px auto 0px;
	}
}

.l-grid-header {
	grid-area: header;
	border: 1px solid #ffff00;
}
.l-grid-menu {
	grid-area: menu;
	padding: 10px 0px 10px 0px;
	border: 1px solid #ffff00;
}
.l-grid-main {
	grid-area: main;
	border: 1px solid #ffff00;
}
.l-grid-footer {
	grid-area: footer;
	border: 1px solid #ffff00;
}

.l-dashboard-services {
	grid-area: services;
	border: 1px solid #ffff00;
}
.l-dashboard-infopanel {
	grid-area: infopanel;
	border: 1px solid #ffff00;
}