.l--wrapper {
	max-width: 100%;
	transition: .3s;
}
@media screen and (min-width: 960px) {
	.l--wrapper {
		max-width: 960px;
	}
}
.wrapper--adaptive {
	margin: auto;
}
@media screen and (min-width: 1281px) and (min-height: 901px) {
	.wrapper--adaptive {
		margin-top: 1vw;
	}
}


.l--footer {
	/* width: var(--index-width); */
	max-width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
@media screen and (min-width: 960px) {
	.l--footer {
		max-width: 960px;
	}
}
.l--footer-format {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	text-align: center;
}


.l--index {
	margin: auto;
	width: 360px;
}
.l--index-logo {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
	height: 256px;
	transition: .3s;
}
.l--index-menu {
	margin: auto;
	padding-top: 6px;
	padding-bottom: 10px;
	width: 300px;
}
@media screen and (min-width: 476px) {
	.l--index-menu {
		margin-top: 60px;
	}
}
@media screen and (min-width: 768px) {
	.l--index-menu {
		margin-top: 100px;
	}
}


.page-login--text {
	margin: 0px 15px;
	padding-top: 4px;
}
.page-login--button {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

@media screen and (max-width: 960px) {
	.services--menu {
		margin: auto;
		width: var(--dashboard-box-width);
	}
}
.services--header {
	margin: auto;
	width: var(--dashboard-box-width);
}
.services--header-imgbox {
	width: var(--header-height);
	height: var(--header-height);
	border: 1px dotted rgb(255,246,73,0.1);
	transition: .5s;
}
.services--header-imgbox:hover {
	/**background: rgb(40,60,24,0.9);**/
	border: 1px dotted rgb(255,246,73,0.22);
}
.services--header-character {
	float: left;
}
.services--header-corporation {
	float: right;
}
.services--header-name {
	width: calc(var(--dashboard-box-width) - var(--header-height)*2);
	height: var(--header-height);
	padding-top: 0.85em;
	padding-left: 4px;
	font-size: calc(var(--header-height)/3);
	text-align: center;
	border: 1px dotted rgb(255,246,73,0.1);
	transition: .5s;
}
.services--header-name:hover {
	border: 1px dotted rgb(255,246,73,0.22);
}


.grid--services {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto var(--footer-height);
	grid-row-gap: 4px;
	grid-column-gap: 4px;
	grid-template-areas:
		'header'
		'menu'
		'content'
		'footer';
	transition: .3s;
}
@media screen and (min-width: 961px) {
	.grid--services {
		grid-template-columns: 1fr var(--dashboard-width) 1fr;
		grid-template-rows: var(--header-height) auto;
		grid-template-areas:
			'header header header'
			'menu content side';
	}
}
.grid-area--header {
	grid-area: header;
}
.grid-area--footer {
	grid-area: footer;
}
.grid-area--content {
	grid-area: content;
}
.grid-area--menu {
	grid-area: menu;
}
.grid-area--side {
	grid-area: side;
}
