{% extends "layouts/dashboard.html" %}

{% block services_content %}
					<div class="dashboard--box border--style-dotted-srvbox display--block color--background-1">

						<section class="display--block color--background-2 border--style-dotted-bottom">

							<h4 class="display--block text--center text--color-style-1 border--style-dotted-bottom">
								Check user groups
							</h4>

							<div class="mgmt--box text--center display--block">

								<form class="display--inline-block" action="#" method="post">
									<input type="text" name="user_id" list="userlist">
									<datalist id="userlist">
										{% for user in users %}
										<option value="{{user.id}}">{{user.name}}</option>
										{% endfor %}
									</datalist>

									<input type="hidden" name="submit" value="get">
									<button class="button button--admin button--style" type="submit">get</button>
								</form>
								<form class="display--inline-block" action="#" method="post">
									<input type="hidden" name="submit" value="clear">
									<button class="button button--admin button--style" type="submit">clear</button>
								</form>

							</div>

							{% if admin_array is defined and admin_array['user_groups'] is defined %}
							<div class="mgmt--box display--block">

								<div class="text--center text--bold text--color-style-1">
									"{{admin_array['user_name']}}" groups:
								</div>

								<table class="tbl--format tbl--groups tbl--set-fontsize-1">
									{% for group in admin_array['user_groups'] %}
									<tr>
										<td>{{ group.name }}</td>
									</tr>
									{% endfor %}
								</table>

							</div>
							{% endif %}

						</section>

					</div>

					<div class="dashboard--box border--style-dotted-srvbox display--block color--background-1">

						<section class="display--block color--background-2 border--style-dotted-bottom">

							<h4 class="display--block text--center text--color-style-1 border--style-dotted-bottom">
								User group management
							</h4>

							<form action="#" method="post">

								<div class="mgmt--box text--center display--block">

									<input type="text" name="user_id" list="userlist">
									<datalist id="userlist">
										{% for user in users %}
										<option value="{{user.id}}">{{user.name}}</option>
										{% endfor %}
									</datalist>

									<button class="button button--admin button--style" type="submit">submit</button>
								</div>

								<div class="mgmt--box text--center display--block">

									{% for group in groups %}
									<div class="mgmt--box-services border--style-dotted-bottom display--inline-block">
										<input class="" type="checkbox" name="pending_groups[]" value="{{group.id}}">{{group.name}}
									</div>
									{% endfor %}

									<div class="mgmt--box">
										Choose action: 
										<input type="radio" name="submit" value="add" checked>add
										<input type="radio" name="submit" value="delete">delete<br>
									</div>
								</div>

							</form>

						</section>

					</div>

					<div class="dashboard--box border--style-dotted-srvbox display--block color--background-1">

						<section class="display--block color--background-2 border--style-dotted-bottom">

							<h4 class="display--block text--center text--color-style-1 border--style-dotted-bottom">
								Service group management
							</h4>

							<div class="grid--group-mgmt">

								<div class="grid-area--mgmt01 border--style-dotted-lr">

									<h4 class="display--block text--center border--style-dotted-bottom">
										create:
									</h4>

									<form action="#" method="post">

										<div class="mgmt--box display--block">
											Name: <input type="text" name="group_name">
										</div>

										<div class="mgmt--box display--block">
											Color: <input type="color" name="group_color" value="#8A8A8A">
										</div>

										<div class="mgmt--box-services display--block">
											<input type="checkbox" name="all_services" value="1">All services<br>
											<input type="checkbox" name="teamspeak" value="1">TeamSpeak3<br>
											<input type="checkbox" name="discord" value="1">Discord<br>
											<input type="checkbox" name="hoist" value="1">Discord hoist<br>
											<input type="checkbox" name="phpbb3" value="1">Forum<br>
										</div>

										<div class="display--block text--center">
											<input type="hidden" name="submit" value="group_add">
											<button class="button button--admin button--style" type="submit">try</button>
										</div>

									</form>

								</div>

								<div class="grid-area--mgmt02 border--style-dotted-lr">

									<h4 class="display--block text--center border--style-dotted-bottom">
										deactivate:
									</h4>

									<form action="#" method="post">

										<div class="mgmt--box text--center">

											<select class="text--center" name="group_id" id="groups">
												<option value="null">select group</option>
												{% for group in groups %}
												<option value="{{group.id}}">{{group.name}}</option>
												{% endfor %}
											</select>

											<input type="hidden" name="submit" value="group_deactivate">
											<button class="button button--admin button--style margin--top6" type="submit">try</button>

										</div>

									</form>

								</div>

							</div>

						</section>

					</div>

					<div class="dashboard--box border--style-dotted-srvbox display--block color--background-1">

						<section class="display--block color--background-2 border--style-dotted-bottom">

							<h4 class="display--block text--center text--color-style-1 border--style-dotted-bottom">
								Existing groups:
							</h4>

							<div class="mgmt--box display--inline-block align-vertical--top">
								<table class="tbl--format tbl--set-fontsize-1">
									<tr>
										<!-- <th>id</th> -->
										<th>group name</th>
										<th>teamspeak</th>
										<th>discord</th>
										<th>forum</th>
									</tr>
									{% for group in groups %}
										<tr>
											<!-- <td>{{ group.id }}</td> -->
											<td>{{ group.name }}</td>
											<!-- <td>{{ group.teamspeak_enabled }}</td> -->
											<td>{% if group.teamspeak_enabled %}yes{% else %}no{%endif%}</td>
											<td>{% if group.discord_enabled %}yes{% else %}no{%endif%}</td>
											<td>{% if group.phpbb3_enabled %}yes{% else %}no{%endif%}</td>
										</tr>
									{% endfor %}
								</table>
							</div>

						</section>

					</div>
{% endblock services_content %}
