{% extends "index/layout.html" %}

{% block index_content %}
					<a href="{{portal_config['recruitment_url']}}" role="button" class="button button--menu display--block">recruiting</a>
					<a href="{{portal_config['portal_url']}}/dashboard" role="button" class="button button--menu display--block">auth</a>
					<a href="{{portal_config['forum_url']}}" role="button" class="button button--menu display--block">forum</a>
					<a href="{{portal_config['killboard_url']}}" role="button" class="button button--menu display--block">killboard</a>
{% endblock index_content %}
