{% extends "layouts/dashboard.html" %}

{% block services_content %}
					<div class="display--block">
						<div class="dashboard--box border--style-dotted-srvbox color--background-1">
							<h4 class="text--center text--color-style-2">
								Save your login and password before leaving this page!
							</h4>

							<div class="phpbb3--box display--block">
								<div class="phpbb3--info-box text--center text--bold">
									phpBB3 Username:
								</div>
								<div class="phpbb3--info-box text--color-style-1 text--center border--style-dotted">
									{{phpbb3_username}}
								</div>
							</div>

							<div class="phpbb3--box display--block">
								<div class="phpbb3--info-box text--center text--bold">
									phpBB3 Password:
								</div>
								<div class="phpbb3--info-box text--color-style-1 text--center border--style-dotted">
									{{phpbb3_password}}
								</div>
							</div>
						</div>
					</div>
{% endblock services_content %}
