{% extends "layouts/dashboard.html" %}

{% block services_content %}
					{% if discord_enabled %}
						<section class="dashboard--box border--style-dotted-srvbox color--background-1">
							<h4 class="text--center">
								Discord Service
							</h4>
							<div class="service--box-button">
								{% if not discord_authorized %}
									<a href="{{discord_url}}" class="button button--service button--style display--block">Activate</a>
								{% else %}
									<a href="{{portal_config['portal_url']}}/discord/deactivate" class="button button--service button--style display--block">Deactivate</a>
								{% endif %}
							</div>
						</section>
					{% endif %}

					{% if ts3_enabled %}
						<section class="dashboard--box border--style-dotted-srvbox color--background-1">
							<h4 class="text--center">
								TeamSpeak3 Service
							</h4>
							<div class="service--box-button">
								{% if ts3_token == null %}
									<a href="{{portal_config['portal_url']}}/teamspeak/activate" class="button button--service button--style display--block">Activate</a>
								{% else %}
									<a href="{{portal_config['portal_url']}}/teamspeak/deactivate" class="button button--service button--style display--block">Deactivate</a>
								{% endif %}
							</div>
							{% if ts3_token != null %}
								<div class="service--box-button">
										<a href="ts3server://{{ts3_url}}?token={{ts3_token}}&nickname={{ts3_nick}}" class="button button--service button--style display--block">Войти в TS3</a>
								</div>
							{% endif %}
						</section>
					{% endif %}

					{% if phpbb3_enabled %}
						<section class="dashboard--box border--style-dotted-srvbox color--background-1">
							<h4 class="text--center">
								Forum Service
							</h4>
							<div class="service--box-button">
								{% if phpbb3_username == null %}
									<a href="{{portal_config['portal_url']}}/phpbb3/activate" class="button button--service button--style display--block">Activate</a>
								{% else %}
									<a href="{{portal_config['portal_url']}}/phpbb3/deactivate" class="button button--service button--style display--block">Deactivate</a>
								{% endif %}
							</div>
						</section>
					{% endif %}

					<!-- {% if is_admin %} -->
						<!-- <section class="dashboard--box border--style-dotted-srvbox color--background-1"> -->
							<!-- <h4 class="text--center"> -->
								<!-- Add custom tokens -->
							<!-- </h4> -->
							<!-- <div class="service--box-button"> -->
								<!-- <a href="{{portal_config['portal_url']}}/login/contacts" class="button button--service button--style display--block">Add Contacts Token</a> -->
							<!-- </div> -->
						<!-- </section> -->
					<!-- {% endif %} -->
{% endblock services_content %}
